.btn_light_dark {
	border: 2px solid #272a34;
	border-radius: 50px;
	outline: none;
	background-color: transparent;
	color: #272a34;
	cursor: pointer;
	transition: all 0.3s;
}

.btn_light_dark:hover {
	background-color: #272a34;
	color: white;
}

.btn_light_dark:active {
	background-color: #4f546f;
}

.btn_dark_light {
	border: 2px solid #272a34;
	border-radius: 50px;
	outline: none;
	background-color: #272a34;
	color: white;
	cursor: pointer;
	transition: all 0.3s;
}

.btn_dark_light:hover {
	background-color: transparent;
	color: #272a34;
}

.btn_dark_light:active {
	background-color: #4f546f;
	color: white;
}

.btn_disabled {
	border: 2px solid #4f546f;
	border-radius: 50px;
	outline: none;
	background-color: #4f546f;
	color: white;
}